.services-page {
    padding: 4rem 2rem;
    background: #0f172a;
    }
    .services-section h1 {
        color: #00bfff;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-size: 3rem;
        
        }

       .service-page .learn-more-btn {
  margin-top: 12px;
  padding: 10px 22px;
  background: #29b6f6;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-block;
}

.service-page .learn-more-btn:hover {
  background: #29b6f6;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(79, 70, 229, 0.35);
}
