.blog-card {
  width: 80%;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
    margin-bottom: 20px;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

/* Banner Image */
.blog-card-img {
  width: 100%;
  /* height: 180px; */
  object-fit: cover;
}

/* Card Body */
.blog-card-body {
  padding: 18px;
}

.blog-card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #111;
}

.blog-card-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

/* Tags */
.blog-card-tags {
  margin-bottom: 12px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-tag {
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 13px;
  color: #333;
}

/* Read More Button */
.read-more-btn {
  display: inline-block;
  margin-top: 5px;
  color: #0073e6;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}

.read-more-btn:hover {
  color: #005bb5;
}
